lib_managed/
project/boot/
project/build/target/
project/sbt_project_definition.iml
spendii.iml
spendii.ipr
spendii.iws
target/
Spendii.iml
designs/home.html~
designs/spendii-bluefish.bfproject
out/
project/sbt_project.iml
