body {
 font-family: Verdana, Helvetica, Arial, sans-serif;
 width: 800px;
 padding: 20px;
 margin-left: auto;
 margin-right: auto;
}

h1, h2 {
  #color: #3366CC;
  color: #FFFFFF;  
  background-color: #778899;
  border-bottom: 1px solid DimGray;
  border-right: 1px solid DimGray;
}

table {
  border: thin solid black;
  border-collapse: collapse;
  width: 100%;
  font-style: italic;  
}

td, th {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: #87CEEB;
  line-height: 2em;
}

td {
	line-height: 1.6em;	
}

.errorText {
    color: white;
    background-color: blue;
}

.noticeText {
    color: green;
}

form {
  margin: 20px; 
  #border:1px solid black;
}

.form_container, .table_container {     
  width: 100%;  
}

.form_container {
	border:1px solid gray;
	margin-bottom: 100px;	
}

.table_container {
	border:1px solid red;
	margin-bottom: 100px;	
}

label {  
  width: 100px;
  margin-right: 10px;
  float: left;
  text-align: right;
  vertical-align: top;
}

textarea, .textfield {
	width: 420px;
	font-size: 1.3em;
}

.button {
	width: 170px;
	text-align: center;
	height: 40x;
	background-color: #4169E1;
	border-bottom: 1px solid blue;
	border-right: 1px solid blue;
	border-top: 0;
	border-left: 0; 
	 
   font-size: 1.8em;   	
}

#submit_button {
	width: 540px;
	text-align: right;
	background-color: #696969;
	
}

textarea {
	height: 4em;
}

#menu {
	width: 100%;
	text-align: center;
}

.form_element {
  padding: 10px; 	
}

ul li {
  list-style-type: none;
  display: inline;
  padding: 25px; 
}

.headings_container {
	text-align: center;
}
