body {
 font-family: sans-serif;
}

p {
  color: maroon;
}

h1, h2 {
  color: #3366CC;
}

h1 {
  border-bottom: 1px solid black;
}

em {
  font-family: serif;
}

table {
  margin-left: 20px;
  margin-right: 20px;
  border: thin solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: #cc6600;
}

form div {
    margin: 0 0 10px 160px;
}

form div label {
    width: 140px;
    float: left;
    text-align: right;
    margin: 5px 20px 0 -160px;
}

.errorText {
    color: white;
    background-color: blue;
}

.noticeText {
    color: green;
}

.form {
    margin: 50px 0 100px 0;
    border-bottom: 1px solid black;
}