body {
 font-family: sans-serif;
}

p {
  color: maroon;
}

h1, h2 {
  color: #3366CC;
}

h1 {
  border-bottom: 1px solid black;
}

em {
  font-family: serif;
}

table {
  margin-left: 20px;
  margin-right: 20px;
  border: thin solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: #cc6600;
}

form div {
    margin: 0 0 10px 160px;
}

form div label {
    width: 140px;
    float: left;
    text-align: right;
    margin: 5px 20px 0 -160px;
}

.errorText, .exception_message, .exception_stacktrace, .exception_context_message {
    background-color: olive;
    color: white;
}

.exception_stacktrace {
    text-align: left;
    font-size: x-small;
    font-style: italic;
}

.errorText, .exception_context_message {
    text-align: center;
}

.errorText {
    width: 100%;
    margin: 0;
    padding: 0;
    border:solid 1px #8b0000;
}

.noticeText {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: green;
    border:solid 1px #006400;
    color: white;
    text-align: center;
}

.warningText {
    color: #db7093;
}

.form {
    margin: 50px 0 100px 0;
    border-bottom: 1px solid black;
}

.cost {
    text-align: right;
}

span.total {
    font-style: italic;
    color: gray;
}

.formErrorHeading {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #6495ed;
    border:solid 1px black;
    color: white;
    text-align: center;
}

.form_element_error {
    margin: 0px 0px 0 5px;
    background-color: #6495ed;
    border:solid 1px black;
    color: white;
    text-align: left;
    vertical-align: top;
}

.hmenu ul li {
  list-style-type: none;
  display: inline;
  padding: 25px;
  color: white;
  line-height: 2em;
}

.hmenu {
  margin: 50px 0 10px 0;
  text-align: center;
  width: 100%;
  background-color: #696969;
}
