body {
 font-family: sans-serif;
}

p { 
  color: maroon; 
}    

h1, h2 {
  color: gray;        
}

h1 {
  border-bottom: 1px solid black;
}

em {
  font-family: serif;
}

table {
  margin-left: 20px;
  margin-right: 20px;
  border: thin solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 5x;
}

th {
  background-color: #cc6600;
}
